@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*Styling*/

:root {
	--main-color: rgb(48, 151, 248);
	--secondary-color:rgb(204, 226, 248);
	--third-color:rgb(121, 121, 121);
	--content-padding: 3rem;
}
html{
	font-family: 'Roboto', sans-serif;
}
body {
	display: grid;
	grid-template-columns: 250px 1fr;
}
/*Side */
.sidebar {
	background-color: var(--main-color);
	color: white;
	padding: 1rem 1.5rem;
	font-size: 20px;
	font-weight: bold;

	display: grid;
	grid-template-rows: 100px 1fr;
}

.sidebar .logo{
	font-size: 28px;

}
.sidebar .logo svg{
	width: 36px;
}

.sidebar .logo,
.sidebar li{
	display: flex;
	align-items: center;
	gap:15px;
	font-family: inherit;
	font-weight: bold;
}

.sidebar svg {
	width: 24px;
	height: auto;
	color:white;
}

nav ul:last-child {
	margin-top: 50px;
}

nav ul {
	display: grid;
	gap: 15px;
}

/*Main Content*/
.main-content {
	display: grid;
	grid-template-rows: 200px 4fr;
	background-color: var(--secondary-color);
}

/*Header*/
.main-content header {
	display: grid;
	grid-template-rows: 1fr 2fr;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: white;
	font-family: inherit;
}

header .header-bar {
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-items: center;
	padding-right: var(--content-padding);
	padding-left: var(--content-padding);
}

.header-bar .icons {
	display: grid;
	grid-template-columns: 24px 70px 1fr;
	gap:10px;
	justify-self: end;
	align-items: center;
}
.header-bar .name{
	font-weight: bold;
}
.icons svg{
	width: 24px;
	height: auto;
}
.header-bar .icon img{
	width: 70px;
	height: auto;
}
.search-bar{
	display: flex;
	align-items: center;
	gap:5px;
}

.search-bar input{
	border:none;
	background-color:var(--secondary-color);
	border-radius: 10px;
	padding:0.4rem 1rem;
	width: 50%;
}

.search-bar svg {
	color:black;
	width: 24px;
	height: auto;
}

.header-actions {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	padding-right: var(--content-padding);
	padding-left: var(--content-padding);
}

.header-actions .introduction {
	padding: 1rem;
	display: grid;
	grid-template-columns: 100px 1fr;
	align-items: center;
	gap: 5px;
	font-weight: bold;
}
.introduction .icon {
	width: 100px;
	height: auto;
}

.introduction p {
	margin-bottom: 5px;
	font-weight: inherit;
	font-size: 80%;
}

.introduction .name-tag{
	font-size: 1.1rem;
}

.header-actions .buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-self: end;
	gap: 15px;
}

.buttons button {
	background-color: var(--main-color);
	border:none;
	padding:0.5rem 1.5rem;
	border-radius: 15px;
	color:white;
	font-weight: bold;
	font-size:0.9rem;
}
/*Projects*/
.main-content .explore {
	
	display: grid;
	grid-template-areas:
		'projects announcements'
		'projects trending';
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto;
}
.explore > * {
	display: grid;
	grid-template-rows: 40px 1fr;
	padding: 1rem;
}

.explore .projects {
	grid-area: projects;
}

h3 {
	align-self: center;
	font-weight: bold;
	font-family: inherit;
	font-size: 1.2rem;
	color:black;
}

.projects .project-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: auto;
	gap: 20px;
}

.project-list .project-card {
	border-left: solid rgb(241, 169, 35) 6px;
	padding: 2rem 1rem;
	border-radius: 5px;
	background-color: white;
	box-shadow: var(--third-color) 0px 3px 6px;
	display: grid;
	grid-template-rows: 1fr 6fr 1fr;
}

.project-card .title{
	font-weight: bold;
}

.project-card p{
	font-size: 90%;
	color:var(--third-color);
	font-weight: 500;
}

.project-card .actions {
	justify-self: end;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:10px;
}

.actions svg{
	width: 25px;
	height: auto;
	color:var(--third-color);
}
.explore .announcements {
	grid-area: announcements;
}

.announcements .ann-container{
	padding:30px;
	background-color: white;
	color:var(--third-color);
	border-radius: 10px;
	box-shadow: var(--third-color) 0 3px 6px;
}

.ann-container .item p{
	font-size: 80%;

}

.ann-container .item .item-name{
	color:black;
	font-weight: bold;
} 

.ann-container .item:not(:last-child){
	margin-bottom:30px;
	border-bottom: 1px solid var(--third-color);
	padding-bottom: 15px;
}

.explore .trending {
	grid-area: trending;
	
}

.trending .tren-container{
	background-color: white;
	border-radius: 10px;
	box-shadow: var(--third-color) 0 3px 6px;
	padding:30px;
}
.trending .person{
	display: flex;
	align-items: center;
	gap:5px;
}

.person .bio{
	color:var(--third-color);
	font-size: 90%;
}
